<div class="login-container">
  <div class="login-screen">
    <div class="logo">🚨</div>
    <div class="app-title">RescueNet</div>
    <div class="app-subtitle">Decentralized Emergency Response</div>

    <div class="input-group">
      <input type="email" placeholder="Email Address">
    </div>

    <div class="input-group">
      <input type="text" placeholder="Full Name">
    </div>
    <div class="input-group">
      <input type="text" placeholder="Username">
    </div>

    <div class="input-group">
      <input type="text" placeholder="Phone Number">
    </div>

    <div class="input-group">
      <input type="password" placeholder="Password">
    </div>


    <button class="btn-primary">Sign Up</button>

    <div class="link-text">Already have an account? <strong (click)="goTologin()">Login</strong></div>
  </div>
</div>