<!-- <div class="container">



  <div class="login-screen">
    <div class="logo">🚨</div>
    <div class="app-title">RescueNet</div>
    <div class="app-subtitle">Decentralized Emergency Response</div>

    <div class="input-group">
      <input type="email" placeholder="Email Address">
    </div>
    <div class="input-group">
      <input type="password" placeholder="Password">
    </div>

    <button class="btn-primary">Sign In</button>

    <div class="link-text">Don't have an account? <strong>Sign Up</strong></div>
  </div>
</div> -->


<div class="login-container">
  <div class="login-screen">
    <div class="logo">🚨</div>
    <div class="app-title">RescueNet</div>
    <div class="app-subtitle">Decentralized Emergency Response</div>

    <div class="input-group">
      <input type="email" placeholder="Email Address" [(ngModel)]="loginData.email" name="email" />
    </div>

   <div class="input-group password-group">
  <input
    [type]="showPassword ? 'text' : 'password'"
    placeholder="Password"
    [(ngModel)]="loginData.password"
    name="password"
  />

  <span class="eye-icon" (click)="togglePassword()">
    {{ showPassword ? '👁️' : '🙈' }}
  </span>
</div>


    <button class="btn-primary" (click)="loginpage()" [disabled]="loading">
      {{ loading ? 'Signing In...' : 'Sign In' }}
    </button>

    <p *ngIf="errorMsg" style="color:red">{{ errorMsg }}</p>

    <div class="link-text">
      Don't have an account?
      <strong (click)="goToRegister()">Sign Up</strong>
    </div>
  </div>
</div>